.elements__delete-button{
    position: absolute;
    background-image: url(../../../images/delete-button.svg);
    padding: 0;
    margin: 0;
    border: 0;
    width: 18px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    right: 20px;
    top: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.elements__delete-button:hover{
    opacity: 0.5;
}