@keyframes appearance {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.popup{
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: space-around;
    align-items: center;
    animation: appearance 0.2s linear 0s 1 forwards running;
}