.popup__button_close{
    background: url(../../../../images/__button-CloseIcon.svg) 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.popup__button_close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .popup__button_close{
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
  }